<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" name="user" class="com.learn.spring.bean.User" init-method="initMethod"
          destroy-method="destroyMethod">
    </bean>
    <bean id="user1" name="user1" class="com.learn.spring.bean.User">
    </bean>
    <bean id="user2" name="user2" class="com.learn.spring.bean.User">
    </bean>
</beans>